// project colors
$main_green: #0BAE57;
$main_white: #FFFFFF;
$main_light_blue: #DFF2F8;
$site_dark_gray: #343D5C;
$site_light_pink: #B0A4C0;
$site_light_grey: #F5FAFF;
$site_light_grey: #E8F0FE;
$royal_blue: #5E6CE7;


