.el-collapse {
  width: 100%;
  margin-bottom: 20px;
}

:deep(.el-collapse-item) {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  transition: 0;
}

:deep(.el-collapse-item__header), :deep(.el-collapse-item__wrap) {
  border: none;
}

:deep(.el-collapse-item__header) {
  position: sticky;
}