.main-side-menu-user-name {
  line-height: 20px;
  font-size: 22px;
}

.menu-badge {
  width: auto;
  min-width: 110px;
  background-color: #ed276b;
  border-radius: 25px;
  color: white;
  text-align: center;
  height: 30px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  // line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  // line-height: 320px;
}
