/* skin: text )*/
/* type: primary, additional, success, warning, danger, neutral, del */

.p-button_text_ano {
  border: none;
  margin: var(--button-primary-medium-whiteSpace-gap);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  padding: var(--button-primary-medium-whiteSpace-padding-vertical), var(--button-primary-medium-whiteSpace-padding-horizontal);
  border-radius: none;
  height: auto;
  width: auto;
  background: none;
  font-family: var(--base-font);
  font-size: var(--button-font-size-default);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-button_text_ano_info {
  color: var(--button-info-background);
}

.p-button_text_ano_info:hover {
  color: var(--button-info-background-hovered);
}

.p-button_text_ano_primary {
  color: var(--font-color);
}

.p-button_text_ano_primary:hover {
  color: var(--font-color-focus);
}

.p-button_text_ano_additional {
  color: var(--button-additional-background);
}

.p-button_text_ano_additional:hover {
  color: var(--button-additional-background-hovered);
}

.p-button_text_ano_success {
  color: var(--button-success-background);
}

.p-button_text_ano_success:hover {
  color: var(--button-success-background-hovered);
}

.p-button_text_ano_warning {
  color: var(--button-warning-background);
}

.p-button_text_ano_warning:hover {
  color: var(--button-warning-background-hovered);
}

.p-button_text_ano_danger {
  color: var(--button-error-background);
}

.p-button_text_ano_danger:hover {
  color: var(--button-error-background-hovered);
}

.p-button_text_ano_neutral {
  color: var(--button-neutral-background);
}

.p-button_text_ano_neutral:hover {
  color: var(--button-neutral-background-hovered);
}

.p-button_text_ano_del {
  color: var(--button-neutral-background);
}

.p-button_text_ano_del:hover {
  color: var(--button-error-background-hovered);
}
