/* skin: pag (for pagination) */
/* type: active, not-active, neutral */

.p-button_pag {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: var(--transition-default);
  cursor: pointer;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  border-radius: 3px;
  margin: 0 4px;
  font-family: var(--base-font);
  font-size: var(--button-font-size-default);
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-button_pag_neutral {
  background: var(--button-pagination-background);
  color: var(--button-pagination-font-color);
}

.p-button_pag_neutral:hover {
  background: var(--button-pagination-background);
  color: var(--button-pagination-font-color-hovered);
}

.p-button_pag_active {
  background: var(--button-pagination-background-pressed);
  color: var(--button-pagination-font-color-pressed);
}

.p-button_pag_not-active {
  background: var(--button-pagination-background);
  color: var(--button-pagination-font-color-disabled);
  cursor: not-allowed;
}
